.mt-4 {
    margin-top: 2.5rem !important;
}
.resend-otp {
    color: #007bff; 
    text-decoration: underline; 
    cursor: pointer; 
    margin-left: 10px; 
    font-weight: bold; 
  }
  
  .resend-otp:hover {
    color: #0056b3; 
  }
  .otp-text {
    padding-top: 50px;
    white-space: nowrap;    
  }
  .text-edit {
    white-space: nowrap; 
  } 