
  .custom-legend-dropdown {
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    max-height: 230px;
    overflow-y: auto;  
    width: 300px;
  }
  
  .legend-item {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e9ecef;
    transition: background-color 0.2s ease;
  }
  
  .legend-item:hover {
    background-color: #f1f1f1;
  }
  
  .legend-code {
    font-weight: bold;
    color: #07ad46;
  }
  
  .legend-description {
    color: #333;
    font-weight: 500;
  }
  
  .show {
    display: block;
  }
.highlight-card {
  background-color: rgb(240, 240, 202) !important; 
}
.table .highlight-row td {
  background-color: rgb(240, 240, 202) !important;
}

#reloadButton
{
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}

.table th input[type="text"] {
  box-sizing: border-box;
  // background-color: rgb(222, 237, 225);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-style: dotted;
  opacity: 0.5;
}

.align-middle{
  text-align: center;
}

tr:hover {
  cursor: pointer;
}
.card:hover {
  cursor: pointer;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.modal-actions .btn {
  padding: 5px 15px;
  cursor: pointer;
  margin: 0 5px;
 
}