.vertical-collapsed .main-content {
    margin-left: 80px;  
  }
  
  .main-content.extended {
    margin-left: 15%; 
  }
  .table th input[type="text"] {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-style: dotted;
    opacity: 0.5;
  }