.page-title {
    padding-top: 100px;
    padding-bottom: 36px;
}
.input-group .form-select {
    max-width: 30%;
    width: 30%;
    
  }
  
  .input-group input[type="text"] {
    width: 70%;
  }